<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/usr_login.css' %}"/>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'core/js/user_login.js' %}"></script>
    <title>Online Library Portal</title>

    <style>
        /* Hide forms initially */
        .login-form, .register-form {
            display: none;
        }

        /* Display the active form */
        .active {
            display: block;
        }
    </style>
</head>

<body>
    <h1 id="portal">Online Library Portal</h1>
    <hr>

    <button id="back_button" onclick="location.href='{% url 'index' %}'">Back</button>

    <div class="login-page">
        <div class="form">
            <hr>
            <h3>User Authentication</h3>
            <hr>
            <br>
            <!-- Registration Form -->
            <form class="register-form" method="POST" id="register-form">
                {% csrf_token %}
                <input type="text" placeholder="Name" name="usr_name" id="usr_name" required/>
                <input type="password" placeholder="Password" name="usr_pass" id="usr_pass" required/>
                <input type="text" placeholder="Roll Number" name="usr_roll" id="usr_roll" required/>
                <input type="date" placeholder="dd/mm/yyyy" name="usr_dob" id="usr_dob" required/>
                <input type="email" placeholder="Email address" name="usr_email" id="usr_email" required/>
                <button type="submit" id="register_new">SIGNUP</button>
                <p class="message">Already registered? <a href="#" id="show_login">Sign In</a></p>
            </form>

            <!-- Login Form -->
            <form class="login-form active" method="POST" id="login-form">
                {% csrf_token %}
                <input type="text" placeholder="Username" name="username" id="username" required/>
                <input type="password" placeholder="Password" name="password" id="password" required/>
                <button type="submit" id="log_me_in">LOGIN</button>
                <p class="message">Not registered? <a href="#" id="show_register">Create an account</a></p>
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            // Initially show the login form and hide the register form
            $('.login-form').show();
            $('.register-form').hide();

            // On clicking "Create an account" link
            $('#show_register').on('click', function(e) {
                e.preventDefault(); // Prevent page reload
                $('.login-form').hide(); // Hide login form
                $('.register-form').show(); // Show register form
            });

            // On clicking "Sign In" link
            $('#show_login').on('click', function(e) {
                e.preventDefault(); // Prevent page reload
                $('.register-form').hide(); // Hide register form
                $('.login-form').show(); // Show login form
            });
        });
    </script>

</body>
</html>