<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/usr_login.css' %}"/>
    <title>Login - Online Library Portal</title>
</head>
<body>
    <h1 id="portal">Online Library Portal</h1>
    <hr>
    <button id="back_button" onclick="location.href='{% url 'index' %}'">Back</button>

    <div class="login-page">
        <div class="form">
            <hr>
            <h3>User Login</h3>
            <hr>
            <!-- Login Form -->
            <form class="login-form" method="POST" id="login-form" action="{% url 'user:user_login' %}">
                {% csrf_token %}
                <input type="text" placeholder="Username" name="username" id="username" required/>
                <input type="password" placeholder="Password" name="password" id="password" required/>
                <button type="submit" id="log_me_in">LOGIN</button>
                <p class="message">Not registered? <a href="{% url 'user:register' %}">Create an account</a></p>
            </form>
            <!-- Display messages -->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }}">{{ message }}</div>
                    {% if message.tags == 'success' %}
                        <script>alert("{{ message }}");</script>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</body>
</html>
